@model List<MVC_Grupp_5.Models.Vehicle>
@{
    string id = ViewData["RegNr"] as string;
}

<div class="receipt">
    <h2>Kvitto</h2>
    @if (id != null)
    {
        <p>Ditt registreringsnummer: @id</p>
    }
    else
    {
        <p>Registreringsnummer saknas</p>
    }
    <div class="receipt-info">
        @if (Model == null || Model.Count == 0)
        {
            <p>Inga fordon hittades.</p>
        }
        else
        {
            @foreach (var vehicle in Model)
            {
                <div class="vehicle-info">
                    <p><strong>Registreringsnummer:</strong> @vehicle.RegNr</p>
                    <p><strong>Modell:</strong> @vehicle.Model</p>
                    <p><strong>Färg:</strong> @vehicle.Color</p>
                    <p><strong>Fordonstyp:</strong> @vehicle.VehicleType</p>
                    <p><strong>Incheckat fordon:</strong> @vehicle.CheckInVehicle</p>
                </div>
            }
        }
    </div>
</div>
