@model IEnumerable<MVC_Grupp_5.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>See all parked vehicles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Check in your vehicle</a>
</p>

@* Carl's Search/Filter Feature 🔍 *@
<div>
    <form asp-controller="Vehicles" asp-action="Search" method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="searchString" placeholder="Search...">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </div>
        @if (ViewBag.FilterWasSuccess != null){
            if (ViewBag.FilterWasSuccess)
            {
                <p class="text-success">@ViewBag.Message</p>
            } else
            {
                <p class="text-danger">@ViewBag.Message</p>
            }
        }

    </form>
</div>
@* Carl's Search/Filter Feature 🔍 *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInVehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
                <td>
                    @item.CheckInVehicle.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.RegNr" class="btn btn-secondary">Update info</a> |
                    <a asp-action="Details" asp-route-id="@item.RegNr" class="btn btn-info">Vehicle Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegNr" class="btn btn-danger">Check Out</a>
            </td>
        </tr>
}
    </tbody>
</table>
